@import 'src/assets/css/colors.scss';

.card {
  .card-body {
    overflow-y: hidden;
    max-height: 600px;
    transition: max-height 600ms ease !important;
    
    &.collapsed {
      max-height: 104px;
    }

    .title {
      color: $gray-6;
    }
  
    .category {
      background: none;
      
      &:hover {
        background: darken($color: $white, $amount: 2);
      }
      
      .item {
        font-size: 17px;
        color: $gray-5;
        
        .icon {
          width: 2rem;
          text-align: center;
        }
  
        span {
          left: 3.3rem;
        }
  
        .fa-spin {
          font-size: 20px;
        }
      }
    }
  }
}