@import 'src/assets/css/colors.scss';
@import 'src/assets/css/font-sizes.scss';

.cont {
  height: 40px;
  color: $gray-4;
  
  input {
    height: 40px;
    
    border-radius: 5px !important;
    border: 1.5px solid $gray-4;
    color: $gray-5;
  
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
  
    &:focus {
      border: 1.5px solid $gray-5;
      color: $gray-7;
      outline: none !important;
      box-shadow: none !important; 

    }

    &.has-icon {
      padding-left: 1.9rem !important;
    }

    &.has-addon {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }

  .fa.active {
    color: $gray-5;
  }

  .addon-button {
    height: 40px;
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
    
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  .icon {
    font-size: 18px;
    transform: translateY(-165%);
    margin-left: 0.53rem !important
  }
}