<div class="cont position-relative">
  <div [ngClass]="{'input-group': addonText || addonIcon}">
    <input
      [formControl]='form.get(controlName)'
      class="form-control pe-2"
      [ngClass]="{'ps-2': !icon, 'has-icon': icon, 'has-addon': addonText || addonIcon}"
      [type]="password ? 'password' : 'text'"
      [placeholder]="placeholder"
      (focusin)="isFocused=true"
      (focusout)="isFocused=false"
    >
  
    <div class="input-group-append">
      <button 
        *ngIf="addonText || addonIcon"
        class="addon-button btn btn-blue" 
        (click)="onAddonClick()"
      >
        <span *ngIf="addonText">{{ addonText }}</span>
        <i *ngIf="addonIcon" class="fa fa-{{ addonIcon }}"></i>    
      </button>
    </div>
  </div>

  <i 
    *ngIf="icon"
    class="fa fa-{{ icon }} position-absolute icon"
    [ngClass]="{'active': isFocused}"
  ></i>
</div>