<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 px-5">
      <h1 class="text-center mb-3">myblog</h1>

      <div class="card p-4 shadow-1 mb-2">
        <div class="card-body p-4 pt-3">
          <h2 class="card-title text-center mb-4 is-38">LOG IN</h2>
          <form [formGroup]="form" *ngIf="form" (ngSubmit)="attemptLogin()">  

            <app-text-input
              class="d-block mb-3"
              [form]='form'
              [controlName]='INPUT_USERNAME'
              [icon]="'user'" 
              [placeholder]="'Username'"
            ></app-text-input>

            <app-text-input 
              [form]='form'
              [controlName]='INPUT_PASSWORD'
              [icon]="'lock'" 
              [placeholder]="'Password'"
              [password]="true"
            ></app-text-input>
            <small class="ms-2 mt-1 help-text">I forgot my password</small>
            
            <button type="submit" class="btn btn-blue w-100 mt-3">
              LOG IN
            </button>
          </form>
        </div>
      </div>

      <small class="d-block text-center mt-2 help-text">
        New to myblog?
        Sign up <a href="#">here</a>.
      </small>

      
    </div>
  </div>
</div>