// Colors

$white: #FFFFFF;
$black: #000000;

$gray-1: #F6F6F6;
$gray-2: #F3F3F3;
$gray-3: #C8C4C4;
$gray-4: #A7A1A1;
$gray-5: #303030;

$blue-1: #71B9E1;
$blue-2: #1A95DA;
$link: #63B2DF;

$turquoise: #14D3A6;