// Font sizes

$p8: 8px;
$p10: 10px;
$p12: 12px;
$p14: 14px;
$p16: 16px;
$p18: 18px;
$p20: 20px;
$p22: 22px;
$p24: 24px;
$p26: 26px;
$p28: 28px;
$p40: 40px;
$p44: 44px;
$p48: 48px;
$p54: 54px;

.is-8  {  font-size: $p8; }
.is-10 {  font-size: $p10; }
.is-12 {  font-size: $p12; }
.is-14 {  font-size: $p14; }
.is-16 {  font-size: $p16; }
.is-18 {  font-size: $p18; }
.is-20 {  font-size: $p20; }
.is-22 {  font-size: $p22; }
.is-24 {  font-size: $p24; }
.is-26 {  font-size: $p26; }
.is-28 {  font-size: $p28; }
.is-40 {  font-size: $p40; }
.is-44 {  font-size: $p44; }
.is-48 {  font-size: $p48; }
.is-54 {  font-size: $p54; }