<!-- CONTENT -->
<div class="row">
  <h3 class="mb-3 header">Recently popular:</h3>
  <div class="col-8 pe-0" *ngIf="blogPosts$ | async as blogPosts">
    <div class="row mb-5">
      <div class="col">
        <app-blog-post-carousel
          [blogPosts]="blogPosts"
        ></app-blog-post-carousel>
      </div>
    </div>
  
    <div class="posts">
      <div 
        *ngFor="let category of popularCategories$ | async"
        class="mb-4"
      >
        <h3 class="header is-26">{{ category.name }}</h3>
        <app-blog-post-row [category]="category"></app-blog-post-row>
      </div>
    </div>
  
  </div>
  
  <!-- ASIDE -->
  <div class="col-4 ps-3 pe-5">
    <app-categories-menu class="d-block ms-5"></app-categories-menu>
  </div>
</div>