<!-- CONTENT -->
<div class="row">
  <div class="col-8 pe-0" *ngIf="blogPosts$ | async as blogPosts">
    <div class="row mb-5">
      <div class="col">
        <app-blog-post-carousel
          [blogPosts]="blogPosts"
        ></app-blog-post-carousel>
      </div>
    </div>
  
    <div class="posts">
      <ng-container *ngFor="let category of popularCategories$ | async">
        <h3>{{ category.name }}</h3>
        <app-blog-post-row [category]="category"></app-blog-post-row>
      </ng-container>
    </div>
  
  </div>
  
  <!-- ASIDE -->
  <div class="col-4 ps-5">
    <app-categories-menu class="d-block ms-5"></app-categories-menu>
  </div>
</div>