<nav class="px-4 navbar navbar-expand-lg navbar-light">
  <h2 class="myblog-title is-44">
    myblog
  </h2>

  <ul class="navbar-nav ms-4 me-auto">
    <li class="nav-item">
      <a href="#" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Categories</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">About</a>
    </li>
  </ul>

  <form [formGroup]="searchForm" class="form-inline my-2 me-1">
    <app-text-input
      style="display: inline-block; max-width: 215px !important;"
      [form]="searchForm"
      [controlName]="'query'"
      [placeholder]="'Search content'"
      [addonIcon]="'search'"
      (addonClicked)='performSearch()'
    ></app-text-input>
  </form>

  <ng-container *ngIf="currentUser$ | async as user">
    <button class="ms-2 btn btn-turquoise add-button">
      <i class="fa fa-plus"></i>
    </button>
  </ng-container>

  <p 
    class="hamburguer ms-3 me-1 cursor-pointer mb-0"
    [ngClass]="{'active': isMenuActive}"
    (click)="menuClicked()"
  >
    <i class="fa fa-bars is-28"></i>
  </p>
</nav>