<div class="container d-flex pb-5">
  <div class="row justify-content-center align-self-center">
    <div class="col-{{ columnSize }} px-5">
      <h1 
        class="myblog-title text-center mb-3 cursor-pointer"
        [routerLink]="[ '/home']"
      >myblog</h1>

      <div class="alert alert-success" *ngIf="commonService.showSuccessfulRegistrationMessage">
        Your account has been registered successfully!
      </div>

      <router-outlet (activate)="componentActivated($event)"></router-outlet>

    </div>
  </div>
</div>