<div class="alert alert-danger mb-1 mt-2 py-1 px-2" *ngIf="errors">
  <div class="row">
    <div class="col icon">
      <i class="fa fa-exclamation-circle"></i>
    </div>
    <div class="col pt-1">
      <small 
        *ngFor="let error of errors | keyvalue"
        class="d-block mb-1"
      >
        <b>{{ error.key | titlecase }}:</b> {{ error.value }}
      </small>
    </div>
    <div class="col icon">
      <i 
        class="fa fa-times cursor-pointer"
        (click)="errors=null"
      ></i>
    </div>
  </div>
</div>