@import 'src/assets/css/colors.scss';
@import 'src/assets/css/font-sizes.scss';

.alert-danger {
  padding-left: 10px !important;
  padding-right: 10px !important;

  small {
    font-size: $p12 !important;

    b {
      font-weight: 500 !important;
    }
  }

  .fa {
    font-size: 15px;
  }

  .row {
    padding-right: 10px;
    padding-left: 10px;

    .col.icon {
      padding: 0;
      max-width: 15px;

      .fa-times {
        transition: color 500ms ease;
        
        &:hover {
          color: darken($color: $red-3, $amount: 7);
        }
      }
    }
  }
}