@import 'assets/css/colors.scss';
@import 'assets/css/font-sizes.scss';

body {
  background: $gray-2;
}

.btn {
  border-radius: 5px !important;

  &.btn-blue {
    background: $blue-2;
    color: $white;
  }

  &.btn-turquoise {
    background: $turquoise;
    color: $white;
  }
}

.card {
  background: $white;
  border-radius: 5px;
}