@import 'assets/css/colors.scss';
@import 'assets/css/font-sizes.scss';

*, *:focus, *:hover{
  outline:none;
}

html, body {
  height: 100%;
}

body {
  background: $gray-2 !important;
}

input::placeholder, input.control::placeholder {
  color: $gray-3 !important;
}

a {
  color: $link !important;
}

.myblog-title {
  font-family: 'Righteous';
  color: $blue-2 !important;
}

.shadow-1 {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.12);
}

.btn {
  border-radius: 5px !important;

  &:active, &:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  &.btn-blue {
    background: $blue-2;
    color: $white;

    &:hover {
      background: darken($color: $blue-2, $amount: 3);
      color: $white;
    }
  }

  &.btn-turquoise {
    background: $turquoise;
    color: $white;

    &:hover {
      background: darken($color: $turquoise, $amount: 3);
      color: $white;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  background: $white;
  border-radius: 5px;
}

.help-text {
  color: $gray-3;
  font-size: $p12;
}
