@import 'assets/css/colors.scss';
@import 'assets/css/font-sizes.scss';

*, *:focus, *:hover{
  outline:none;
}

body {
  background: $gray-2;
}

input::placeholder, input.control::placeholder {
  color: $gray-3 !important;
}

.shadow-1 {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.12);
}

.btn {
  border-radius: 5px !important;

  &.btn-blue {
    background: $blue-2;
    color: $white;
  }

  &.btn-turquoise {
    background: $turquoise;
    color: $white;
  }
}

.card {
  background: $white;
  border-radius: 5px;
}